---
import type { GetStaticPaths } from 'astro';
import MainLayout from '../../layouts/MainLayout.astro';
import PokemonCard from '@components/pokemons/PokemonCard.astro';
import type { PokemonListResponse } from '@interfaces/pokemon-list-response';
import { Icon } from 'astro-icon/components';
import Title from '@components/shared/Title.astro';

export const getStaticPaths = (async () => {
  const resp = await fetch('https://pokeapi.co/api/v2/pokemon?limit=150');
  const { results } = (await resp.json()) as PokemonListResponse;
  return results.map((result) => ({
    params: { name: result.name },
    props: { name: result.name, url: result.url },
  }));
}) satisfies GetStaticPaths;

const { name } = Astro.params;
const { url } = Astro.props;
const id = url.split('/').at(-2);
const audioSrc = `https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/latest/${id}.ogg`;
const imageSrc = `https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/${id}.png`;
---

<MainLayout
  title={`Pokemon  - #${id}  - ${name}`}
  image={imageSrc}
  description={name}
>
  <section class="mt-10 mx-10 flex flex-col justify-center items-center">
    <div class="flex flex-row gap-3">
      <div>
        <button onclick="history.back()" class="text-blue-500 cursor-pointer"
          >Regresar</button
        >
        <Title>{name}</Title>
      </div>
      <button
        id="btn-favorite"
        class="ml-4 hover:animate-pulse"
        data-name={name}
        data-id={id}
      >
        <Icon data-outline name="heart-outline" size={50} />
        <Icon data-full class="hidden" name="heart-full" size={50} />
      </button>
    </div>
    <PokemonCard name={name} url={url} />
    <audio class="mt-5" controls>
      <source src={audioSrc} type="audio/ogg" />
    </audio>
  </section>
  <script>
    import type { FavoritePokemon } from '@interfaces/favorite-pokemons';

    let favoritePokemon: FavoritePokemon[] = JSON.parse(
      localStorage.getItem('favorites') ?? '[]',
    );

    const btnFavorite = document.querySelector(
      '#btn-favorite',
    ) as HTMLButtonElement;

    const name = btnFavorite.dataset.name ?? '';

    const id = btnFavorite.dataset.id ?? '';

    const hearOutline = btnFavorite.querySelector(
      '[data-outline]',
    ) as HTMLElement;
    const heartFull = btnFavorite.querySelector('[data-full]') as HTMLElement;
    const isFavorite = favoritePokemon.some((fav) => fav.name === name);

    // realizar funcion para que el corazon salga ocmo favoritos cuando salga y entre de la pagina

    if (isFavorite) {
      hearOutline.classList.add('hidden');
      heartFull.classList.remove('hidden');
    }

    const toogleFavorite = () => {
      if (isFavorite) {
        // remover
        favoritePokemon = favoritePokemon.filter((fav) => fav.name !== name);
      } else {
        // agregar
        favoritePokemon.push({
          id: +id,
          name: name,
        });
      }

      localStorage.setItem('favorites', JSON.stringify(favoritePokemon));
    };

    btnFavorite.addEventListener('click', () => {
      hearOutline.classList.toggle('hidden');
      heartFull.classList.toggle('hidden');
      toogleFavorite();
    });
  </script>
</MainLayout>
<style>
  @view-transition {
    navigation: auto;
  }
</style>
