---
import type { GetStaticPaths } from 'astro';
import PokemonCard from '@components/pokemons/PokemonCard.astro';
import type { PokemonListResponse } from '@interfaces/pokemon-list-response';
import MainLayout from '../../layouts/MainLayout.astro';
import Title from '@components/shared/Title.astro';

const title = 'PokemonGo';

export const getStaticPaths = (async ({ paginate }) => {
  const resp = await fetch('https://pokeapi.co/api/v2/pokemon?limit=151');
  const { results } = (await resp.json()) as PokemonListResponse;

  return paginate(results, { pageSize: 20 });
}) satisfies GetStaticPaths;

const { page } = Astro.props;
---

<MainLayout title={title}>
  <Title>Listado de Pokemons</Title>

  <section
    aria-label="Listado de Pokemon"
    class="mt-4 grid grid-cols-1 sm:grid-cols-3 md:grid-cols-4 gap-4"
  >
    {
      page.data.map((pokemon) => (
        <li class="list-none text-2xl text-fuchsia-100 font-bold font-mono">
          <PokemonCard url={pokemon.url} name={pokemon.name} />
        </li>
      ))
    }
  </section>
  <section class="flex mt-10 gap-2 items-center">
    <a
      href={page.url.prev}
      class:list={[
        'bg-blue-500 p-2 rounded-bl-sm',
        { 'bg-gray-600': !page.url.prev },
      ]}>Anterior</a
    >
    <a
      href={page.url.next}
      class:list={[
        'bg-blue-500 p-2 rounded-bl-sm ',
        { 'bg-gray-600': !page.url.next },
      ]}>Siguiente</a
    >

    <div class="flex flex-1"></div>
    <span class="text-xl font-bold">Pagina: {page.currentPage}</span>
  </section>
</MainLayout>
